<template>
    <div class="container-fluid">
        <h1>Inicio de sesión</h1>
        <div class="form-group">
            <label for="username">Login:</label>
            <input type="text" class="form-control" v-model="username" id="username"
                   placeholder="Nombre del login">
            <label for="password">Password:</label>
            <input type="password" class="form-control" v-model="password" id="password"
                   placeholder="Password">
            <br>
            <button type="button" class="btn btn-success" @click="login(username, password)">Login</button>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                username: '',
                password: '',
            }
        },

        methods:{
            login(username, password){

                if (password == ""){
                    alert("Debes agregar una contraseña")
                }else if(username == ""){
                    alert("Debes agregar un nombre de usuario")
                }else if(username != "admin_bodega" || password != "Cl4v3N03stuPr0bl3ma**"){
                    alert("Usuario o contraseña invalida")
                }else{
                    this.$root.login = true
                    this.$router.push('/purchase')
                    console.log(this.$root.login)
                }

            }
        }




    }

</script>