<template>
    <div class="custom-actions">
        <button type="button" class="btn btn-info" @click="itemAction('view-item', rowData, rowIndex)">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <button type="button" class="btn btn-success" @click="itemAction('edit-item', rowData, rowIndex)">
            <span class="glyphicon glyphicon-check"></span>
        </button>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueNotifications from 'vue-notifications'
    import PurchaseService from '../../services/purchase'

    export default {
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },
        methods: {
            itemAction (action, data, index) {

                if(action == 'edit-item'){

                    let datos = {
                        'delivery_status': 2,
                        'id': data.id
                    }
                    PurchaseService.update(datos)
                        .then(res => {
                            this.$parent.reload();
                            VueNotifications.success({message: 'Registro Actualizado'})
                        })
                }
            }
        }
    }
</script>

<style>
    .custom-actions button.ui.button {
        padding: 8px 8px;
    }
    .custom-actions button.ui.button > i.icon {
        margin: auto !important;
    }
</style>

