<template>
    <div class="container">
        <div v-if="this.$root.login != true"  class="text-center">
            <h1>Tienes que hacer login</h1>
            <h1>:(</h1>
            <button class="btn btn-primary" @click="getLogin">Login</button>
        </div>

        <div v-else>

        <modal-component>
            <h4 slot="modal-title" class="modal-title text-align-center" id="myModalLabel">Detalle de la Compra</h4>
            <div slot="modal-body">
                <h4>Información del Pedido</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th class="text-center" width="15%">Número de Compra</th>
                        <td class="text-center">{{ modalData.id }}</td>

                    </tr>
                    <tr>
                        <th class="text-center">Estatus Despacho</th>
                        <td class="text-center">{{ modalData.delivery_status }}</td>

                    </tr>
                    <tr>
                        <th class="text-center">Ciudad</th>
                        <td class="text-center">{{ modalData.city }}</td>

                    </tr>
                    <tr>
                        <th class="text-center">Fecha de Compra</th>
                        <td class="text-center">{{ modalData.date }}</td>

                    </tr>
                    <tr>
                        <th class="text-center">Fecha de Envio</th>
                        <td class="text-center">{{ modalData.delivery_date }}</td>

                    </tr>
                    </tbody>
                </table>


                <h4>Listado de Productos</h4>
                <alert-notifications v-if="loading">
                    <h4 slot="alert-body">{{ text_info }}</h4>
                </alert-notifications>

                <div v-if="modalData.delivery_status == 4 || modalData.delivery_status == 2"></div>
                <div v-else>
                    <div class="container">
                        <div class="row">
                            <h4>Seleccione un pedido a Ñuñoa</h4>
                            <div class="col-xs-4 col-md-*">
                                <el-select v-model="value" placeholder="Select">

                                    <el-option
                                            v-for="item in options"
                                            :key="item.id"
                                            :label="item.name"
                                            :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="col-xs-4 col-md-*">

                                <button type="button" class="btn btn-primary"
                                        @click="addOrders(modalData.products, value, modalData)">
                                    <i class="shop icon"></i>
                                </button>

                            </div>

                        </div>
                    </div>
                </div>

                <data-tables :data='modalData.products' :search-def="searchDef" :row-action-def='getShopActionsDef()'>
                    <el-table-column v-for="title in titlesProducts" :prop="title.prop" :label="title.label"
                                     :key="title.label"
                                     sortable="custom">
                    </el-table-column>

                </data-tables>

            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-success" @click="generateOrders(name)">Guardar</button>-->
            </div>
        </modal-component>

        <div class="row">
            <h1 class="text-center">Módulo de Compras</h1>
        </div>

        <data-tables
                :data='tableData'
                :row-action-def='getRowActionsDef()'
                :search-def="searchDef">
            <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.label"
                             sortable="custom">
            </el-table-column>

            <el-table-column
                    label="Operaciones">
                <template scope="scope">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                            @click="handleEdit(scope.$index, scope.row)">
                        <i class="eye icon"></i>
                    </button>
                    <div v-if="scope.row.delivery_status == 2">

                    </div>
                    <div v-else>
                        <button type="button" class="btn btn-success"
                                @click="handleDelete(scope.$index, scope.row)">
                            <i class="check icon"></i>
                        </button>
                    </div>

                </template>
            </el-table-column>
        </data-tables>

    </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import accounting from 'accounting'
    import moment from 'moment'
    //import Modal from '../../reusable/modal.vue'
    import Alert from '../../reusable/alert.vue'

    // <Services>
    import OrderServices from '../../../services/orders'
    import PurchaseServices from '../../../services/purchase'
    import ProductServices from '../../../services/products'

    //Vue.component('modal-component', Modal)

    export default {
        data(){
            return {
                loading: false,
                text_info: '',
                options: [],
                value: '',
                modalData: [],
                tableData: [],
                titles: [
                    {
                        prop: "id",
                        label: "Número Compra"
                    },
                    {
                        prop: "delivery_status",
                        label: "Estatus"
                    }, {
                        prop: "date",
                        label: "Fecha Compra"
                    },
                    {
                        prop: "delivery_date",
                        label: "Fecha de Envio"
                    },

                    {
                        prop: "delivery_type",
                        label: "Tipo de Despacho"
                    },
                    {
                        prop: "users.first_name",
                        label: "Nombre"
                    },

                    {
                        prop: "users.last_name",
                        label: "Apellido"
                    },

                    {
                        prop: "users.email",
                        label: "Correo"
                    },
                    {
                        prop: "address",
                        label: "Dirección"
                    }
                ],

                titlesProducts: [
                    {
                        prop: "sku",
                        label: "SKU"
                    }, {
                        prop: "cod_provider",
                        label: "Código Proveedor"
                    },
                    {
                        prop: "name",
                        label: "Nombre"
                    }, {
                        prop: "pivot.quantity",
                        label: "Cantidad"
                    }
                ],

                searchDef: {
                    show: false,

                }
            }
        },
        created() {
            this.getData();

            setInterval(() => {
                this.getData();
            }, 30000);
        },
        watch: {},
        methods: {
            getLogin(){
                this.$router.push({name: 'login'});
            },

            getData() {

                console.log("reload")

                PurchaseServices.findAll()
                    .then((response) => {

                        this.tableData = response
                    })
                    .catch((err) => {
                        console.error(err)
                    })
                OrderServices.findAll()
                    .then((response) => {
                        this.options = response
                    })
                    .catch((err) => {
                        console.error(err)
                    })

            },

            addOrders (product_id, orders_id, purchase){
                if (orders_id == "") {
                    alert("Debes agregar un pedido");
                    return false;
                } else {

                    //console.log(purchase);return false;
                    //console.log(purchase.key);return false;
                    this.handleUpdateStatus(purchase.id, 4);
                    this.modalData.delivery_status = 4
                    this.loading = true;


                    for (let i = 0; i < product_id.length; i++) {

                        ProductServices.findByOrdersProduct(product_id[i], orders_id)
                            .then((response) => {

                                if (response != '') {

                                    let id = response[0].id
                                    let quantity = response[0].quantity + product_id[i].pivot.quantity
                                    let datos = {id, quantity}
                                    ProductServices.updateOrderProduct(datos)
                                        .then(() => {
                                                this.text_info = "Se agregaron los productos con éxito!"
                                                setTimeout(() => {
                                                    this.created()
                                                    this.loading = false
                                                }, 3000)


                                            }
                                        )
                                        .catch((err) => {
                                            console.error(err)
                                        })
                                } else {

                                    ProductServices.addOrdersProduct(product_id[i].id, product_id[i].pivot.quantity, orders_id)
                                        .then(res => res)
                                        .catch((err) => {
                                            console.error(err)
                                        })

                                    //console.log("no hay datos")
                                }
                            })
                            .catch((err) => {
                                console.error(err)
                            })
                    }
                }
            },
            handleEdit(index, row) {
                PurchaseServices.findBy(row.id)
                    .then((response) => {
                        this.modalData = response
                        //console.log(response)
                        //this.tableData = response
                    })
                    .catch((err) => {
                        console.error(err)
                    })
            },
            handleDelete(index, row) {
                let datos = {
                    'delivery_status': 2,
                    'id': row.id
                }

                PurchaseServices.update(datos)
                    .then((response) => {
                        this.tableData[index].delivery_status = 2
                        alert("Registro Actualizado")
                    })
                    .catch((err) => {
                        console.error(err)
                    })
                //console.log(row.id);
            },
            handleUpdateStatus(purchase_id, delivery_status) {
                let datos = {
                    'delivery_status': delivery_status,
                    'id': purchase_id
                }
                PurchaseServices.update(datos)
                    .then((response) => {
                        self.$message('Registro Actualizado')
                        //this.DataTables.refresh()
                        //OrderServices.findAll()
                        //console.log(response)
                        //this.tableData = response
                    })
                    .catch((err) => {
                        console.error(err)
                    })
            },
            getActionsDef() {
                let self = this;
                return {
                    width: 5,
                    def: [{
                        name: 'new',
                        handler() {
                            self.$message('new clicked')
                        },
                        icon: 'plus'
                    }, {
                        name: 'import',
                        handler() {
                            self.$message('import clicked')
                        },
                        icon: 'upload'
                    }]
                }
            },
            getCheckFilterDef() {
                return {
                    width: 14,
                    props: 'status',
                    def: [{
                        'code': '1',
                        'name': 'Pendiente'
                    }, {
                        'code': '2',
                        'name': 'Entregado'
                    }, {
                        'code': 'accepted',
                        'name': 'Accepted'
                    }, {
                        'code': 'closed',
                        'name': 'Closed'
                    }, {
                        'code': 'cancelled',
                        'name': 'Cancelled'
                    }]
                }
            },
            getRowActionsDef() {
                let self = this
                return [{
                    type: 'primary',
                    handler(row) {
                        self.$message('Edit clicked')
                        console.log('Edit in row clicked', row)
                    },
                    name: 'Edit'
                }, {
                    type: 'primary',
                    handler(row) {
                        self.$message('RUA in row clicked')
                        console.log('RUA in row clicked', row)
                    },
                    name: 'RUA'
                }]
            },

            getShopActionsDef() {
                let self = this
                return [{
                    type: 'primary',
                    handler(row) {
                        self.$message('Edit clicked')
                        console.log('Edit in row clicked', row)
                    },
                    name: 'Edit'
                }]
            },

        },
        components: {
            'alert-notifications': Alert
        }
    }
</script>