<template>
    <body>
        <div class="container-fluid">

            <div v-if="this.$root.login == true">

                <div class="col-m2 col-sm-12 col-lg-2">
                    <nav_menu></nav_menu>
                </div>
                <div class="col-m9 col-sm-12 col-lg-10">

                    <router-view></router-view>
                </div>

            </div>
            <div v-else-if="this.$root.login != true">
                <router-view></router-view>
            </div>
        </div>
    </body>
</template>

<script>
    import nav_menu from './nav_menu.vue'
    import login from '../components/modules/login/index.vue'
    export default{
        data() {
            return{
                login : false,
                change_status_sending: false,

            }
        },
        components: {
            nav_menu,
            login
        },
    }
</script>

<style lang="scss" scoped>


</style>