<template>
    <div class="menu-left">
        <h4>Módulos</h4>
        <ul class="nav nav-pills nav-stacked">
            <!--<li role="presentation" class="active"><a :href="'/'">Compras</a></li>
            <li role="presentation"><a :href="'/orders/'">Pedidos</a></li>
            <li role="presentation"><a href="#">Envios</a></li>-->
            <li role="presentation">
                <router-link to="/purchase">Compras</router-link>
            </li>
            <li role="presentation">
                <router-link to="/orders/">Pedidos</router-link>
            </li>
            <li role="presentation">
                <router-link to="/sending/">Envios</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {}
</script>

<style scoped>
    /*.menu-left {
        margin-top: 40%;
    }*/

</style>