<template>
    <div>
        <div v-if="this.$root.login != true" class="text-center">
            <h1>Tienes que hacer login</h1>
            <h1>:(</h1>
            <button class="btn btn-primary" @click="getLogin">Login</button>
        </div>

        <div v-else>
        <modal-component>
            <h4 slot="modal-title" class="modal-title" id="myModalLabel">Crear Pedidos Ñuñoa</h4>
            <div slot="modal-body">
                <h4>Información del Pedido</h4>
                <table class="table table-bordered">

                    <tbody>
                    <tr>
                        <th width="15%">Nombre</th>
                        <td>{{ modalData.name }}</td>

                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>{{ modalData.created_at }}</td>

                    </tr>
                    <tr>
                        <th>Estatus</th>
                        <td>{{ modalData.status }}</td>

                    </tr>
                    </tbody>
                </table>

                <download-excel
                        button_text="Descargar Excel"
                        class="btn btn-info"
                        :data="json_data"
                        :fields="json_fields"
                        :meta="json_meta"
                        name="pedido-nuñoa.xls">


                </download-excel>
                <h4>Listado de Productos</h4>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Código Proveedor</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in modalData.products">

                        <td>{{ product.sku }}</td>
                        <td>{{ product.cod_provider }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.pivot.quantity}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" @click="generateOrders(name)">Guardar</button>
            </div>
        </modal-component>

        <h1>Módulos de pedidos Ñuñoa</h1>

        <div class="col-md-6">
            <h3>Agregar nuevo pedido</h3>
            <form>
                <div class="form-group">
                    <label for="text">Nombre del Pedido:</label>
                    <input type="text" class="form-control" v-model="name" id="text"
                           placeholder="Ejemplo: Pedido lunes 14/08/17">
                </div>
            </form>

            <button type="button" class="btn btn-success" @click="generateOrders(name)">Guardar</button>

        </div>

        <div class="col-md-6">
            <h3>Listado de Pedidos para Ñuñoa</h3>
            <data-tables
                    :data='tableData'
                    :row-action-def='getRowActionsDef()'
                    :search-def="searchDef">
                <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.label"
                                 sortable="custom">
                </el-table-column>

                <el-table-column
                        label="Operaciones">
                    <template scope="scope">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                                @click="handleEdit(scope.$index, scope.row)">
                            <i class="eye icon"></i>
                        </button>

                        <button type="button" class="btn btn-success"
                                @click="handleDelete(scope.$index, scope.row)">
                            <i class="check icon"></i>
                        </button>


                    </template>
                </el-table-column>
            </data-tables>
        </div>
    </div>
    </div>


</template>
<script>
    import Vue from 'vue'
    import ElementUI from 'element-ui'
    import lang from 'element-ui/lib/locale/lang/es'
    import locale from 'element-ui/lib/locale'
    import OrderServices from '../../../services/orders'
    //import Modal from '../../reusable/modal.vue'
    locale.use(lang)

    //import DataTables from 'vue-data-tables'

    Vue.use(ElementUI)
    //Vue.use(DataTables)
    //Vue.component('modal-component', Modal)
    export default {

        data() {
            return {
                name: '',


                json_fields: {
                    "sku": "String",
                    "codigo": "String",
                    "cantidad": "String",
                },
                json_meta: [
                    [{
                        "key": "charset",
                        "value": "utf-8"
                    }]
                ],
                json_data: [],
                tableData: [],
                modalData: [],

                titles: [{
                    prop: "name",
                    label: "Nombre"
                }, {
                    prop: "status",
                    label: "Estatus"
                }, {
                    prop: "created_at",
                    label: "Fecha"
                }],

                searchDef: {
                    show: false,

                }
            }
        },
        created() {

            OrderServices.findAll()
                .then((response) => {
                    this.tableData = response
                })
                .catch((err) => {
                    console.error(err)
                })
        },
        methods: {
            getLogin(){
                this.$router.push({name: 'login'});
            },

            removeElement () {

                this.tableData.$remove(item)
            },

            generateOrders(name) {
                OrderServices.create(name)
                    .then((response) => {
                        this.tableData.unshift(response)
                        alert("Guardado con éxito")
                    })
            },


            findProduct(q){
                ProductServices.findBy(q)
                    .then((response) => {
                        return response.name
                    })
                    .catch((err) => {
                        console.error(err)
                    })

            },
            handleEdit(index, row) {

                OrderServices.findBy(row.id)
                    .then((response) => {
                        this.modalData = response

                        for (let i = 0; i < response.products.length; i++) {

                            this.json_data.push({
                                    sku: response.products[i].sku,
                                    cod_provider: response.products[i].cod_provider,
                                    quantity: response.products[i].pivot.quantity
                                }
                            )
                        }
                    })
                    .catch((err) => {
                        console.error(err)
                    })
                //console.log(row.id);
            },
            handleDelete(index, row) {

                this.tableData.splice(index, 1);

                let datos = {
                    'status': 2,
                    'id': row.id
                }
                OrderServices.update(datos)
                    .then((response) => {
                        alert("Registro Actualizado")

                    })
                    .catch((err) => {
                        console.error(err)
                    })
                console.log(row.id);
            },
            getActionsDef() {
                let self = this;
                return {
                    width: 5,
                    def: [{
                        name: 'new',
                        handler() {
                            self.$message('new clicked')
                        },
                        icon: 'plus'
                    }, {
                        name: 'import',
                        handler() {
                            self.$message('import clicked')
                        },
                        icon: 'upload'
                    }]
                }
            },
            getCheckFilterDef() {
                return {
                    width: 14,
                    props: 'status',
                    def: [{
                        'code': '1',
                        'name': 'Pendiente'
                    }, {
                        'code': '2',
                        'name': 'Entregado'
                    }, {
                        'code': 'accepted',
                        'name': 'Accepted'
                    }, {
                        'code': 'closed',
                        'name': 'Closed'
                    }, {
                        'code': 'cancelled',
                        'name': 'Cancelled'
                    }]
                }
            },
            getRowActionsDef() {
                let self = this
                return [{
                    type: 'primary',
                    handler(row) {
                        self.$message('Edit clicked')
                        console.log('Edit in row clicked', row)
                    },
                    name: 'Edit'
                }, {
                    type: 'primary',
                    handler(row) {
                        self.$message('RUA in row clicked')
                        console.log('RUA in row clicked', row)
                    },
                    name: 'RUA'
                }]
            }
        }
    }
</script>

