<template>

    <div class="container-fluid" id="app">
        <header_component></header_component>

        <main_component></main_component>
    </div>


</template>

<script>
    import header_component from './components/layout/header.vue'
    import main_component from './components/main.vue'
    export default {

        components: {
            header_component,
            main_component
        }

    }
</script>

<style lang="scss">
    body {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    @media screen and (max-width: 768px) {
        body { padding-top: 0px; }
    }
</style>
